@model BookViewModel<Book>
@{
    ViewBag.Title = "Delete";

    var descriptions = Model.Content.Description.Split(new[] { "\r\n\r\n" }, StringSplitOptions.None);

    var dateRead = "";
    if (Model.Content.DateRead.HasValue)
    {
        dateRead = Model.Content.DateRead.Value.ToShortDateString();
    }
}
@section PageStyle {
    <link rel="stylesheet" href="~/css/05_Pages/p-delete.css" />
}

<main class="b-wrapper">
    <header class=" p-delete_header">
        <h1 class="p-delete_headerTitle">Delete</h1>
        <h2 class="p-delete_headerText">Are you sure you want to delete this?</h2>
        <form method="post">
            <div class="p-delete_actionsContainer">
                <button class="p-delete_delete o-button -red" type="submit">Delete</button>
                <a href="javascript:history.go(-1)" class="p-delete_cancel o-buttonLink -orange">Cancel</a>
            </div>
        </form>
    </header>

    <section class="p-delete_section">
        @if (string.IsNullOrWhiteSpace(Model.Content.ImagePath))
        {
            <img class="p-delete_image" src="~/images/appResources/@Model.NoImagePath" />
        }
        else
        {
            <img class="p-delete_image" src="~/images/userResources/@Model.Content.ImagePath" />
        }
        <div class="p-delete_content">
            <h3 class="p-delete_title">@Model.Content.Title</h3>
            <h4 class="p-delete_author">by @Model.Content.Author</h4>
            <p class="p-delete_dateRead">Date Read: @dateRead</p>
            <div class="p-delete_starContainer">
                @for (var i = 0; i < Model.Content.Rating; i++)
                {
                    <img class="p-delete_star" src="~/images/AppResources/rating.png" alt="The book rating is @Model.Content.Rating" />
                }
            </div>
            @foreach (var description in descriptions)
            {
                <p class="p-delete_text">@description</p>
            }
        </div>
    </section>
</main>

