@model BookViewModel<PaginatedList<Book>>
@{
    ViewBag.Title = "Index";
}
@section PageStyle {
    <link rel="stylesheet" href="~/css/05_Pages/p-index.css" />
}
@section Scripts {
    <script src="~/js/p-index.js"></script>
}

<main>
    <div class="b-wrapper">
        <h2 class="p-index_title">Sample Books</h2>

        <div class="p-index_bookCardContainer">
            @foreach (var book in Model.Content)
            {
                <div class="p-index_bookCard c-bookCard">
                    <a class="c-bookCard_imageDetail" asp-action="Detail" asp-route-id="@book.Id">
                        @if (string.IsNullOrWhiteSpace(book.ImagePath))
                        {
                            <img class="c-bookCard_image" src="~/images/appResources/@Model.NoImagePath" />
                        }
                        else
                        {
                            <img class="c-bookCard_image" src="~/images/userResources/@book.ImagePath" />
                        }
                    </a>
                    <h3 class="c-bookCard_title">@book.Title</h3>
                    <div class="c-bookCard_author">by @book.Author</div>
                    <div class="c-bookCard_starContainer">
                        @for (var i = 0; i < book.Rating; i++)
                        {
                            <img class="c-bookCard_star" src="~/images/AppResources/rating.png" alt="The book rating is @book.Rating" />
                        }
                    </div>
                    <span class="c-bookCard_actionContainer">
                        <a class="c-bookCard_edit o-buttonLink -active" asp-action="Edit" asp-route-id="@book.Id">edit</a>
                        <a class="c-bookCard_delete o-buttonLink -red" asp-action="Delete" asp-route-id="@book.Id">delete</a>
                    </span>
                    <span class="c-bookCard_actionContainerToggle o-iconLink"></span>
                </div>
            }
        </div>

        <nav class="p-index_navigation">
            @if (Model.Content.HasPreviousPage)
            {
                <a class="p-index_navButton -active" asp-action="Index" asp-route-id="@Model.Content.PreviousPageIndex">Previous</a>
            }
            else
            {
                <span class="p-index_navButton -disabled">Previous</span>
            }

            <span class="p-index_pageCount">@Model.Content.PageIndex of @Model.Content.TotalPages</span>

            @if (Model.Content.HasNextPage)
            {
                <a class="p-index_navButton -active" asp-action="Index" asp-route-id="@Model.Content.NextPageIndex">Next</a>
            }
            else
            {
                <span class="p-index_navButton -disabled">Next</span>
            }
        </nav>
    </div>
</main>
