@model PaginatedList<Book>
@{
    ViewBag.Title = "Index";
}

<main class="p-index">
    <section>
        <div class="b-wrapper">
            <h2 class="p-index_title">Sample Books</h2>

            <div class="p-index_bookCardContainer">
                @foreach (var book in Model)
                {
                    <div class="p-index_bookCard c-bookCard">
                        <a class="c-bookCard_imageDetail" asp-action="Detail" asp-route-id="@book.Id">
                            <img class="c-bookCard_image" src="~/images/@book.ImagePath" />
                        </a>
                        <h3 class="c-bookCard_title">@book.Title</h3>
                        <span class="c-bookCard_star">
                            <span class="c-bookCard_rating">@(book.Rating)</span>
                        </span>
                        <span class="c-bookCard_actionsContainer">
                            <a class="o-edit" asp-action="Edit" asp-route-id="@book.Id"></a>
                            <span class="c-bookCard_divider"></span>
                            <a class="o-delete" asp-action="Delete" asp-route-id="@book.Id"></a>                            
                        </span>
                    </div>
                }
            </div>

            <nav class="p-index_navigation">
                @if (Model.HasPreviousPage)
                {
                    <a class="p-index_button -active -large" asp-action="Index" asp-route-id="@Model.PreviousPageIndex">Previous</a>
                }
                else
                {
                    <span class="p-index_button -disabled -large">Previous</span>
                }

                @if (Model.HasNextPage)
                {
                    <a class="p-index_button -active -large" asp-action="Index" asp-route-id="@Model.NextPageIndex">Next</a>
                }
                else
                {
                    <span class="p-index_button -disabled -large">Next</span>
                }
            </nav>
        </div>
    </section>
</main>
